# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
# variable_name = value

number = 6

print(number)
print(type(number))

new_number = 8
print(new_number)
print(type(new_number))

6
<class 'int'>
8
<class 'int'>

##### Assinging float

In [3]:
num_float = 4.7

print(num_float)
print(type(num_float))

another_float = 6.
print(another_float)
print(type(another_float))

4.7
<class 'float'>
6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 3
num2 = 5.

result = num1 + num2

print(result)
print(type(result))

# int + int = int
# float + float = float
# int + float = float

8.0
<class 'float'>

In [5]:
# short-hand version
result += 2 # result = result(current value) + 2
print(result)

10.0

##### Subtraction

In [6]:
diff = num2 - num1
print(diff)

# Short-hand version
diff -= 1 # diff = diff - 1

print(diff)

2.0
1.0

In [7]:
weird_result = 5.4 - 2
print(weird_result)

3.4000000000000004

In [8]:
5.4 - 2 == 3.4

False

##### Multiplication

In [9]:
product = num1 * num2
print(product)


# Short-hand version
product *= 2 # product = product * 2
print(product)

15.0
30.0

##### Division

In [10]:
quotient = num2 / num1
print(quotient)

# Short-hand version
quotient /= 2 # quotient = quotient / 2
print(quotient)

1.6666666666666667
0.8333333333333334

In [11]:
num3 = 15
num4 = 5

print(type(num3), type(num4))


print(num3/num4)

<class 'int'> <class 'int'>
3.0

##### Floor Division aka Integer Division

In [12]:
result_floor = 100 // 3
print(result_floor)

# Short-hand version
result_floor //= 2 # result_floor = result_floor // 2 
print(result_floor)

33
16

##### Modulo

In [13]:
# Returns the remainder of the operation
result_mod = 29 % 5
print(result_mod)

# Short-hand version
result_mod %= 3 # result_mod = result_mod % 3
print(result_mod)

4
1

##### Exponential

In [14]:
square = 5 ** 2
print(square)

# Short-hand version
square **= 2 # square = square ** 2
print(square)

25
625

In [15]:
square_root = 625 ** (1/2)
print(square_root)

25.0

### String Input-Output

##### String Assignment

In [16]:
name = "Brian"
print(name)
print(type(name))

Brian
<class 'str'>

In [17]:
last_name = 'Stanton'
print(last_name)
print(type(last_name))

Stanton
<class 'str'>

In [18]:
possessive_string = "Brian's House"
print(possessive_string)

Brian's House

In [19]:
string_number = "123"
print(string_number)
print(type(string_number))

123
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [20]:
print("First Name", name, "Last Name", last_name)
print('Hello')

First Name Brian Last Name Stanton
Hello

##### String Concatenation

In [21]:
city = 'Chicago'
state = 'Illinois'

hometown = city + ', ' + state

print(hometown)

# Short-hand version
hometown += ", United States of America" # hometown = hometown + 'USA'
print(hometown)

Chicago, Illinois
Chicago, Illinois, United States of America

##### Type Conversion

In [22]:
some_num = 55
string_num = "74"
add = string_num + some_num
print(add)

TypeError: can only concatenate str (not "int") to str

In [23]:
print(type(string_num))
changed_num = int(string_num)
print(changed_num)
print(type(changed_num))

changed_again = float(changed_num)
print(changed_again)
print(type(changed_again))

<class 'str'>
74
<class 'int'>
74.0
<class 'float'>

In [24]:
some_string = '123.3948390'
changed = float(some_string)
print(changed)

123.394839

In [25]:
some_number = 3846
num_as_string = str(some_number)
print(type(num_as_string))

<class 'str'>

##### input()

In [26]:
# input() is a built-in function that will ask the end-user for input
# INPUT WILL ALWAYS RETURN A STRING - ALWAYS!!!

age = input('What is your age? ')
print(age)
print(type(age))

add_age = int(age) + 5
print(add_age)

What is your age?

<class 'str'>

ValueError: invalid literal for int() with base 10: ''

##### .format()

In [27]:
name = input('What is your name? ')
age = input('What is your age? ')

greeting = "Hello my name is {} and I am {} years old".format(name, age)

print(greeting)

What is your name?
What is your age?
Hello my name is  and I am  years old

##### f-string

In [28]:
name = input('What is your name? ')
age = input('What is your age? ')

greeting2 = f"Hello my name is {name} and I am {age} years old"
print(greeting2)

What is your name?
What is your age? 12
Hello my name is  and I am 12 years old

In [29]:
concat_string = "Hello my name is " + name + " and I am " + age + " years old."
print(concat_string)

Hello my name is  and I am 12 years old.

##### Old Way (python 2)

In [30]:
old_greeting = "Hello my name is %s and I am %s years old" %(name, age)
print(old_greeting)

Hello my name is  and I am 12 years old

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [31]:
# Output: "My car is a blue 2021 Chevy Camero"

color = input('What is the color of your car? ')
year = input('What is the year of your car? ')
make = input('What is the make of your car? ')
model = input('What is the model of your car? ')


print(f"My car is a {color} {year} {make.title()} {model}")
print("My car is a {} {} {} {}".format(color, year, make.title(), model))

What is the color of your car? Blue
What is the year of your car? 2020
What is the make of your car? Ford
What is the model of your car? Mustang
My car is a Blue 2020 Ford Mustang
My car is a Blue 2020 Ford Mustang

### If Statements

In [32]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5

if num1 > num2:
    print('The condition is true')
print('finished')

The condition is true
finished

In [33]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if 5 > 3 and 15 > 5 and 100 > 1 and 50 > 50:
    print('All conditions are true')
    
if 5 > 3 or 15 < 5 or 1 > 100:
    print('At least one condition is true')

At least one condition is true

##### 'is' keyword

In [34]:
# use the 'is' keyword when checking for same/similar object, NOT same value

list1 = [1, 2, 3]
list2 = [1, 2, 3]
list3 = list1


if list1 == list2:
    print('The values are the same')
    
    
if list1 is list2:
    print('The reference is the same')
    
    
if list1 is list3:
    print('These reference the same object')

The values are the same
These reference the same object

In [35]:
list1 is list2

False

In [36]:
print(id(list1))
print(id(list2))
print(id(list3))

2485347707584
2485347853824
2485347707584

##### 'in' keyword

In [37]:
char_name = 'Max Payne'


if 'y' in char_name:
    print('The character who lost everything...')

The character who lost everything...

##### 'not in' keyword'

In [38]:
if 'z' not in char_name:
    print('the letter z is not in the character name')

the letter z is not in the character name

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [39]:
name = input("What is your name? ")

if 'p' in name.lower():
    print('The letter p is in the name')

What is your name?

In [40]:
name.lower()

''

## Using 'and'/'or' with If Statements

In [41]:
# See Above

### Elif Statements

In [42]:
get_in_price = 10

age_of_customer = int(input('What is your age? '))

if age_of_customer > 75:
    print('You qualify for the senior discount of 25% off!')
    get_in_price *= .75
# elif will only run if the condition DIRECTLY ABOVE evaluated to False
elif age_of_customer > 50:
    print('You qualify for the junior discount of 10% off!')
    get_in_price *= .90
elif age_of_customer > 45:
    print('Small discount!')
    get_in_price *= .99
# else - only runs if all if/elif(s) above are false
else:
    get_in_price *= 1.1
    
print(f"Thank you for your purchase, you owe ${get_in_price:.2f}")

What is your age? 33
Thank you for your purchase, you owe $11.00

### Else Statements

In [ ]:
# see above

### For Loops

In [43]:
name = 'Brian Stanton'

# name_iter = name.__iter__()
# name_iter.__next__()


# for *iter_var* in *iterable*:
for letter in name:
    print(letter)
print('Hello')

B
r
i
a
n

S
t
a
n
t
o
n
Hello

In [44]:
for num in range(20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Using 'in' keyword

In [45]:
# see above

##### Break Statement

In [46]:
# will break out of current loop completely

In [47]:
print('Loop Started')

for i in range(20):
    if i == 5:
        break
    print(i)


print('Loop Finished')

Loop Started
0
1
2
3
4
Loop Finished

##### Continue Statement

In [48]:
# will continue to next iteration

In [49]:
print('Loop Started')

for i in range(20):
    if i == 5:
        continue
    i = i ** 2
    print(i)
    
    
    
    
print('Loop Finished')

Loop Started
0
1
4
9
16
36
49
64
81
100
121
144
169
196
225
256
289
324
361
Loop Finished

##### Pass Statement

In [50]:
# mostly used as a placeholder to fill codeblock, and will continue on same iteration

In [51]:
print('Loop Started')

for i in range(20):
    if i == 5:
        pass #TODO: Come back and finish implementation
    print(i)


print('Loop Finished')

Loop Started
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Loop Finished

##### Double For Loops aka Nested Loops

In [52]:
num = 5

for i in range(num):
    for j in range(num):
        print(f"i={i}",f"j={j}")

i=0 j=0
i=0 j=1
i=0 j=2
i=0 j=3
i=0 j=4
i=1 j=0
i=1 j=1
i=1 j=2
i=1 j=3
i=1 j=4
i=2 j=0
i=2 j=1
i=2 j=2
i=2 j=3
i=2 j=4
i=3 j=0
i=3 j=1
i=3 j=2
i=3 j=3
i=3 j=4
i=4 j=0
i=4 j=1
i=4 j=2
i=4 j=3
i=4 j=4

### While Loops

In [53]:
# Syntax: while *coditional statement*

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

In [54]:
print('Loop Started')

name = input("What is your name? ")
while name != 'Brian':
    print('That is an inferior name')
    name = input('Please try again. What is your name? ')
    
print('Loop finished')

Loop Started
What is your name?
That is an inferior name
Please try again. What is your name?
That is an inferior name
Please try again. What is your name? Brian
Loop finished

##### Looping 'While True'

In [55]:

while True:
    ask = input('Would you like to quit? y/n ')
    if ask.lower() == 'y':
        break
    print('Continue Looping')

Would you like to quit? y/n
Continue Looping
Would you like to quit? y/n y

##### While & For Loops Used Together

In [56]:
num = 0

while num < 5:
    print(f'While Loop Iteration: {num + 1}')
    
    for i in range(3):
        print(f'For Loop Iteration: {i + 1}')
    
    print()
    num += 1

While Loop Iteration: 1
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3

While Loop Iteration: 2
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3

While Loop Iteration: 3
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3

While Loop Iteration: 4
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3

While Loop Iteration: 5
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3

### Built-In Functions

##### range()

In [57]:
# range(stop) - start will default to 0 and step will default to 1 == 0, 1, 2, ..., stop-1
# range(start, stop) - step will default to 1 == start, start+1, start+2, ..., stop-1
# range(start, stop, step) == start, start + step, start + 2(step), ..., stop-1
# start is INCLUSIVE, stop is EXCLUSIVE

for i in range(10, 20, 2):
    print(i)

10
12
14
16
18

In [58]:
name = 'Brian'
for i in range(5):
    print(name[i])

B
r
i
a
n

##### len()

In [59]:
# checks the length of an iterable object

color = 'orange'

length = len(color)
print(length)
print(type(length))

6
<class 'int'>

In [60]:
for x in range(len(color)):
    print(x, color[x])

0 o
1 r
2 a
3 n
4 g
5 e

##### help()

In [61]:
# Use this function to view more info about a python object (with a DOCSTRING)

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [62]:
# Check a variable to find out what Object family it belongs to
# Syntax: isinstance(var, obj)

country = 'France'

isinstance(country, str)

if isinstance(5, int):
    print('This is an int')

This is an int

##### abs()

In [63]:
abs(-100)

100

### Try and Except

In [64]:
# Use whenever we expect to encouter a bug so that the error doesn't cause the program to stop
# Used to log errors gracefully

my_list = [1, 6, 3, 6, '7', 8, 3, 2, 6]

try:
    total = 0
    for num in my_list:
        total += num
        total.format()
        print(total)
except TypeError as err:
    print('There was an error', err)
except ZeroDivisionError as err:
    print('Cannot divide by 0', err)
except Exception as err:
    print('generic error', err)
    

print('More stuff happens here')

generic error 'int' object has no attribute 'format'
More stuff happens here

### Lists

##### Declaring Lists

In [65]:
l_1 = [] # Empty List declaration

names = ['Max', 'Katie', 'Nicole', 'Ripal', 'Ryan']

print(type(names))

my_list = list('Hello')
print(my_list)
print(type(my_list))

<class 'list'>
['H', 'e', 'l', 'l', 'o']
<class 'list'>

##### Indexing a List

In [66]:
# Syntax: list_name[index]
# list_name[start_index:stop_index]
# list_name[start_index:stop_index:step]
print(names)

# Single Index
print(names[4])
# Negative Index - last item in list
print(names[-5])

# print all names starting with index 1 and go to the end
print(names[1:])

# Print names starting at the beginning and end at index 4
print(names[:4])

# Print index 1, 2, 3
print(names[1:4])

# Make a copy of the list
print(names[:])


# Print every other name in the list
print(names[::2])

# Print every other name starting with the 1 index
print(names[1::2])


# Print the list in reverse
print(names[::-1])

['Max', 'Katie', 'Nicole', 'Ripal', 'Ryan']
Ryan
Max
['Katie', 'Nicole', 'Ripal', 'Ryan']
['Max', 'Katie', 'Nicole', 'Ripal']
['Katie', 'Nicole', 'Ripal']
['Max', 'Katie', 'Nicole', 'Ripal', 'Ryan']
['Max', 'Nicole', 'Ryan']
['Katie', 'Ripal']
['Ryan', 'Ripal', 'Nicole', 'Katie', 'Max']

In [67]:
names[-2:]

['Ripal', 'Ryan']

#### List Help

In [68]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

##### .append()

In [69]:
names.append('Brian')
names

['Max', 'Katie', 'Nicole', 'Ripal', 'Ryan', 'Brian']

In [70]:
names

['Max', 'Katie', 'Nicole', 'Ripal', 'Ryan', 'Brian']

##### .insert()

In [71]:
# list.insert(index, value)

names.insert(3, 'Sam')
print(names)

['Max', 'Katie', 'Nicole', 'Sam', 'Ripal', 'Ryan', 'Brian']

##### .pop()

In [72]:
# .pop removes an element from the list
# default is the last value if no argument is given
# pop returns the element that was removed in case you want to assign it a variable

removed_item = names.pop()

print(names)
print(removed_item)

['Max', 'Katie', 'Nicole', 'Sam', 'Ripal', 'Ryan']
Brian

In [73]:
names.pop(3)

'Sam'

In [74]:
print(names)

['Max', 'Katie', 'Nicole', 'Ripal', 'Ryan']


##### .remove()

In [75]:
# Syntax: list.remove(value_to_remove)

# names.remove('Frank')
# print(names)

while 'Frank' in names:
    names.remove('Frank')
    
print(names)

['Max', 'Katie', 'Nicole', 'Ripal', 'Ryan']

In [76]:
a_list = [1, 2, 3, 1, 3, 1, 1, 1, 1, 2, 3]


for num in a_list:
    if num == 1:
        a_list.remove(num)

print(a_list)

[2, 3, 3, 1, 1, 2, 3]

##### del()

In [77]:
# Syntax: del list[index]
# Be careful with del because it can cause index errors if not careful

del names[5]

print(names)

IndexError: list assignment index out of range

##### Concatenating Two Lists

In [79]:
list1 = [1.0, 2, 3]
list2 = [4, 5, 6]

list3 = list1 + list2

# A. [5, 7, 9] B. [1, 2, 3, 4, 5, 6], C. TypeError cannot use operand + with 'list'
print(list3)

[1.0, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [82]:
# Lists are able to hold any data type, including OTHER lists
# They can go as deep as you want, having many lists nested inside each other

destinations = [['Barcelona', 'Madrid', 'Seville'], ['Berlin', 'Hamburg', 'Munich'], ['Syndey', 'Perth']]

print(destinations)
print(type(destinations))

len(destinations)

[['Barcelona', 'Madrid', 'Seville'], ['Berlin', 'Hamburg', 'Munich'], ['Syndey', 'Perth']]
<class 'list'>

3

In [85]:
print(destinations[0])
print(type(destinations[0]))
print(destinations[0][1])

['Barcelona', 'Madrid', 'Seville']
<class 'list'>
Madrid

In [89]:
destinations[1][2]

'Munich'

##### Looping Through Lists

In [91]:
# Loop through elements of the list
for element in destinations:
    print(element)
    
    
# Loop through by index
for i in range(len(destinations)):
    print(i, destinations[i])

['Barcelona', 'Madrid', 'Seville']
['Berlin', 'Hamburg', 'Munich']
['Syndey', 'Perth']
0 ['Barcelona', 'Madrid', 'Seville']
1 ['Berlin', 'Hamburg', 'Munich']
2 ['Syndey', 'Perth']

In [105]:
destinations[2].append('Melbourne')

In [106]:
destinations

[['Barcelona', 'Madrid', 'Seville'],
 ['Berlin', 'Hamburg', 'Munich'],
 ['Syndey', 'Perth', 'Melbourne']]

In [108]:
australia is destinations[2]

True

In [107]:
australia = destinations[2]
australia

['Syndey', 'Perth', 'Melbourne']

In [109]:
print(f'I just visited {australia.pop()} and the only remaining cities now are {destinations[2]}')

I just visited Melbourne and the only remaining cities now are ['Syndey', 'Perth']

#### enumerate()

In [102]:
for i, v in enumerate(names):
    print('index:', i)
    print('value:', v)
    print('=============')

index: 0
value: Max
=============
index: 1
value: Katie
=============
index: 2
value: Nicole
=============
index: 3
value: Ripal
=============
index: 4
value: Ryan
=============

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [2]:
# Expected Output:
# 0
# 1
# 8
# 27
# 64
# 125
# 216
# 343
# 512
# 729
# 1000 

i = 0

while i ** 3 <= 1000:
    print(i ** 3)
    i += 1

0
1
8
27
64
125
216
343
512
729
1000

In [9]:
for num in range(1000):
    if num ** 3 > 1000:
        break
    print(num ** 3)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [274]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for i in range(10):
    print(i)
    if i == 5:
        break
else:
    print('Hello')

0
1
2
3
4
5

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, otherwise print seniors</p>

In [16]:
age = int(input('How old are you? '))

if age < 18:
    print('kids')
elif age < 65:
    print('adults')
else:
    print('seniors')

How old are you? 18
adults